<form action="/example/edit/<%= id %>?_method=PUT" method="POST">

    <%= id %>
    <label for="title">Info</label>
    <input type="text" id="title" name="info" value="<%= info %>" required>

  <input type="submit">
</form>