<h1>Example</h1>

<ul>
    <% things.forEach((element, i) => { %>
       <li>
           <%= element.id %>. <%= element.info %>

           <form action="/example/edit/<%= element.id %>" method="GET">
                <input type="submit" value="Edit Thing">
            </form>

            <form action="/example/delete/<%= element.id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete Thing">
            </form>
        </li>
    <% }) %>
</ul>

<form action="/example/new" method="GET">
    <input type="submit" value="Add New Thing">
</form>